    body {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: #000000;
    }

    header {
        /* цвет фона*/
        background-color: #eeeeee;
        margin-bottom: 81px;
    }

    ul {
        /*для всех списков*/
        list-style-type: none;
        color: #000000;
    }

    .main-navigation a {
        /*хлебные крошки*/
        color: #000000;
        text-decoration: none;
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;
    }

    .main-navigation a:hover, .main-navigation a:focus {
        outline: none;
        color: #fb565a;
        text-decoration: none;
    }

    .main-navigation a:active {
        opacity: 0.3;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none;
    }

    .navigation-logo:hover {
        opacity: 0.8;
    }

    .navigation-logo:active {
        opacity: 0.3;
    }

    /* Слайдер */

    .slider {
        width: 1129px;
        margin-left: auto;
        margin-right: auto;
    }

    .slide-one {
        background-image: url(../img/slide1.png);
        background-position: center right;
        background-repeat: no-repeat;
        height: 413px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide-two {
        /*картинка2*/
        background-image: url(../img/slide2.png);
        background-position: center right;
        background-repeat: no-repeat;
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide-three {
        /*картинка3*/
        background-image: url(../img/slide3.png);
        background-position: center right;
        background-repeat: no-repeat;
        height: 411px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slider h3 {
        /*заголовок*/
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
    }

    .slider p {
        /*текс*/
        line-height: 24px;
        color: #283136;
        padding: 28px 0 42px 0;
    }

    .slider button {
        /*кнопка и режимы*/
        color: #ffffff;
        font-weight: 500;
        width: 240px;
        height: 50px;
        background-color: #fb565a;
    }

    .slider button:hover {
        background-color: #e74246;
    }

    .slider button:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d7373b;
    }

    .slider button:active:not(:empty) span {
        opacity: 0.3;
    }

    /* Сервисы */

    .services {
        width: 1160px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 80px;
    }

    .services h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        color: #000000;
    }

    .services p {
        line-height: 24px;
        color: #283136;
    }

    .services-list button {
        width: 160px;
        height: 50px;
        color: #ffffff;
        font-weight: 500;
    }

    .services-site button {
        background-color: #fb565a;
    }

    .services-site button:hover {
        background-color: #e74246;
    }

    .services-site button:active {
        box-shadow: inset 0 3px 0 rgba(1, 0, 0, 0.651);
        background-color: #d7373b;
    }

    .services-site button:active:not(:empty) span {
        opacity: 0.3;
    }

    button {
        border: none;
    }

    .services-applications button {
        background-color: #00ca74;
    }

    .services-applications button:hover {
        background-color: #00bc6c;
    }

    .services-applications button:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #00aa62;
    }

    .services-applications button:active:not(:empty) span {
        opacity: 0.3;
    }

    .services-presentations button {
        background-color: #efc84a;
    }

    .services-presentations button:hover {
        background-color: #eab534;
    }

    .services-presentations button:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #e5a722;
    }

    .services-presentations button:active:not(:empty) span {
        opacity: 0.3;
    }

    .conteiner {
        /*разметка контейнера*/
        width: 1160px;
        margin-left: auto;
        margin-right: auto;
    }

    .opportunities {
        padding-top: 80px;
    }

    .opportunities b {
        font-size: 45px;
        font-weight: 500;
        line-height: 45px;
    }

    .opportunities p {
        color: #283136;
        line-height: 24px;
    }

    .opportunities li:before {
        content: "";
        width: 25px;
        height: 2px;
        position: absolute;
        left: 0px;
        top: 18px;
        background-color: red;
        display: block;
    }

    .opportunities li {
        color: #283136;
        line-height: 38px;
        position: relative;
        padding-left: 41px;
    }

    .opportunities h3 {
        font-family: "Roboto - Bold";
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
    }

    .statistics {
        /*статистика*/
        width: 360px;
        padding-top: 40px;
    }

    .background {
        /*фон-картинка*/
        background-image: url(../img/nerds-illustration.png);
        background-position: top center;
        background-repeat: no-repeat;
        height: 240px;
    }

    .statistics b {
        /*заголовок*/
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding-bottom: 49px;
        text-align: right;
        padding-top: 41px;
    }

    table {
        /*таблица*/
        border-collapse: separate;
        border-spacing: 2px;
    }

    .interest td {
        font-size: 45px;
        font-weight: 700;
        line-height: 10.06px;
        padding: 0 25px 37px 0;
    }

    .indicators td {
        font-weight: 400;
        line-height: 18px;
        color: #283136;
    }

    /* Партнеры */

    .partners {
        text-align: center;
        border-top: 2px solid #eeeeee;
        border-bottom: 2px solid #eeeeee;
        width: 1160px;
        height: 184px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 76px;
        margin-bottom: 80px;
    }

    .partners a:first-child:link, .partners a:first-child+a:link, .partners a:first-child+a+a:link, .partners a:last-child:link {
        opacity: 0.2;
    }

    .partners a:first-child:hover, .partners a:first-child+a:hover, .partners a:first-child+a+a:hover, .partners a:last-child:hover {
        opacity: 1;
    }

    .partners a:first-child:active, .partners a:first-child+a:active, .partners a:first-child+a+a:active, .partners a:last-child:active {
        opacity: 0.1;
    }

    .partners div:first-child, .partners div:first-child+div, .partners div:first-child+div+div {
        width: 209px;
        height: 90px;
        border-right: 2px solid #eeeeee;
        height: 52px;
        padding-right: 45px;
    }

    .partners div:first-child, .partners div:first-child+div, .partners div:first-child+div+div, .partners div:last-child {
        display: inline-block;
    }

    .adres {
        /* адресс карта*/
        width: 319px;
        height: 308px;
        background-color: #ffffff;
    }

    .adres p {
        color: #666666;
    }

    .headline {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
    }

    .adres a {
        width: 219px;
        height: 50px;
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #fb565a;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .visually-hidden {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    .maps {
        /*карта*/
        margin-top: 60px;
        width: 1440px;
        height: 416px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../img/map.png);
        background-repeat: no-repeat;
        /**/
        display: flex;
        align-items: center;
        padding-left: 140px;
    }

    .footer {
        /* размеры футер*/
        width: 944px;
        height: 79px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 69px;
    }

    .footer-list li {
        /*соц сети*/
        width: 79px;
        height: 79px;
        background-color: #e1e1e1;
        border-radius: 50%;
    }

    .footer-list li:hover {
        background-color: #e74246;
    }

    .footer-list li:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d7373b;
    }

    .footer-social-vk {
        /*картинка*/
        background-image: url(../img/vk-icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 80px;
        padding-bottom: 61px;
    }

    .footer-social-fb {
        /*картинка*/
        background-image: url(../img/fb-icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 80px;
        padding-bottom: 61px;
    }

    .footer-social-insta {
        /*картинка*/
        background-image: url(../img/insta-icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 80px;
        padding-bottom: 61px;
    }

    .footer-social-vk:active, .footer-social-fb:active, .footer-social-insta:active {
        opacity: 0.3;
    }

    .good b {
        /* слоган дружить */
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
    }

    .good p {
        line-height: 22px;
    }

    .navigation-list {
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 116px;
    }

    fieldset {
        border: none;
    }

    legend {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
    }

    form label {
        color: #283136;
        line-height: 20px;
    }

    form ul {
        padding-left: 0px;
    }

    form button span {
        font-size: 16px;
        font-weight: 500;
    }

    form button {
        background-color: #eeeeee;
        border: none;
        width: 260px;
        height: 50px;
        padding: 0px;
        outline: none;
    }

    form button:hover {
        background-color: #dfdfdf;
    }

    form button:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d5d5d5;
    }

    form button:active span {
        opacity: 0.3;
    }

    /* радиокнопка и чекбокс*/

    input[type="radio"] {
        width: 25px;
        height: 25px;
        background-color: #4d4d4d;
        opacity: 0.4;
    }

    input[type="checkbox"] {
        width: 27px;
        height: 23px;
        background-color: #4d4d4d;
        opacity: 0.4;
    }

    label {
        color: #283136;
        line-height: 20px;
    }

    input[type="radio"]:hover {
        background-color: #d4d;
    }

    .popab {
        background-color: #eeeeee;
        border: none;
        width: 360px;
        height: 231px;
        text-align: center;
        position: relative;
        top: 326px;
        display: none;
    }

    .popab h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        padding-top: 35px;
    }

    .popab p {
        color: #666666;
        padding-bottom: 30px;
    }

    /* кнопки папабав */

    button[type="button"] {
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #fb565a;
        width: 200px;
        height: 50px;
        margin-bottom: 30px;
    }

    button[type="button"]:hover {
        background-color: #e74246;
    }

    button[type="button"]:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d7373b;
    }

    .popab h3:hover {
        color: #fb565a;
    }

    .popab h3:active {
        opacity: 0.3;
        color: #000000;
    }

    /* кнопки страниц */

    .pagination {
        width: 443px;
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
        padding-top: 60px;
    }

    .pagination a {
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        text-decoration: none;
        color: #000000;
    }

    .pagination li {
        background-color: #eeeeee;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pagination li:first-child {
        border: 3px solid #dbdbdb;
        background-color: white;
        box-sizing: border-box;
    }

    .pagination li:last-child {
        width: 260px;
    }

    .pagination li:not(:first-child):hover {
        background-color: #dfdfdf;
    }

    .pagination li:not(:first-child):active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d5d5d5;
    }

    .pagination li:not(:first-child):active a {
        opacity: 0.3;
    }

    /* форма отправки письма   */

    .letter {
        /* общий стиль формы */
        width: 960px;
        height: 590px;
        background-color: #ffffff;
        box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 685px;
       opacity: 0;
        pointer-events: none;
    }

    .letter:target {
        display: flex;
        pointer-events: auto;
        opacity: 1;
    }
    .letter > div {
        display: flex;
    }

    .letter fieldset {
        /*основной контейнер*/
        width: 771px;
    }

    .fields {
        width: 760px;
        display: flex;
        justify-content: space-between;
        padding-top: 49px;
        padding-bottom: 36px;
    }

    .fields div:first-child {
        margin-right: 40px;
    }

    .letter legend {
        /*заголовок*/
        font-size: 45px;
        font-weight: 500;
        line-height: 45px;
    }

    .cap a {
        width: 0px;
        height: 0px;
        padding-right: 25px;
    }

    .cap a::after {
        /*картинка крестик*/
        content: "";
        background-image: url(../img/close-cross.svg);
        background-repeat: no-repeat;
        background-position: right;
        width: 21px;
        height: 21px;
        opacity: 0.3;
        position: absolute;
        padding-top: 40px;
    }

    .cap {
        display: flex;
        width: 769px;
        justify-content: space-between;
    }

    .cap a:hover::after {
        opacity: 2;
    }

    .cap a:active::after {
        opacity: 0.1;
    }

    .letter label {
        /*название*/
        font-weight: 700;
        line-height: 18px;
    }

    .letter [placeholder] {
        /*примеры*/
        opacity: 0.5;
        padding-left: 15px;
    }

    .letter input[type="submit"] {
        /*кнопка*/
        font-weight: 500;
        line-height: 18px;
        color: #ffffff;
        width: 260px;
        height: 50px;
        background-color: #fb565a;
        border: none;
    }

    input[name="surname"], input[name="email"] {
        /*поля ввода*/
        width: 352px;
        height: 50px;
        border: 2px solid #d7dcde;
        margin-top: 12px;
    }

    .letter input[type="text"]:hover, .letter input[type="email"]:hover, .letter textarea:hover {
        /*изменение поля*/
        border: 2px solid #b4b9bb;
    }

    .letter input[type="text"]:focus, .letter input[type="email"]:focus, .letter textarea:focus {
        /*изменение поля*/
        border: 2px solid #000000;
        color: #444444;
        opacity: 2;
    }

    .letter input:invalid {
        /*невалидное значение*/
        color: #e74246;
        border: 2px solid #e74246;
    }

    .letter textarea {
        /*большое поле ввода*/
        width: 761px;
        height: 118px;
        border: 2px solid #d7dcde;
        margin-bottom: 47px;
        margin-top: 12px;
        padding-top: 14px;
    }

    .sorting {
        /*блок с треугольниками*/
        width: 759px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 57px;
    }

    .sorting ul {
        /*список режимов*/
        display: flex;
        width: 271px;
        height: 13px;
        justify-content: space-between;
    }

    .sorting ul li:not(:first-child) {
        font-size: 14px;
        text-transform: uppercase;
        opacity: 0.3;
    }

    .sorting ul li:hover {
        opacity: 0.6;
    }

    .sorting ul li:active {
        opacity: 3;
    }

    .sorting p {
        display: flex;
    }

    .up {
        /*стрелочка*/
        padding: 0px;
        border-style: solid;
        border-width: 10px;
        border-left-width: 5.5px;
        border-right-width: 5.5px;
        border-top-color: black;
        border-left-color: white;
        border-right-color: white;
        border-bottom-width: 0px;
        margin-right: 18px;
        outline: none;
    }

    .down {
        /*стрелочка*/
        padding: 0px;
        border-style: solid;
        border-width: 10px;
        border-left-width: 5.5px;
        border-right-width: 5.5px;
        border-bottom-color: #a6a6a6;
        border-left-color: white;
        border-right-color: white;
        border-top-width: 0px;
        opacity: 0.2;
        outline: none;
    }

    .up:hover, .down:hover {
        opacity: 0.6;
    }

    .up:active {
        border-top-color: black;
    }

    .down:active {
        border-bottom-color: black;
    }

    .score {
        /* основной контейнер магазина*/
        width: 1161px;
        /* height: 2097px; */
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }

    .filter-catalog {
        /*левый контейнер фильтров*/
        width: 261px;
        height: 772px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .filter-catalog h2 {
        /*заголовок*/
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 0.05px;
        padding-bottom: 56px;
    }

    .active {
        /*подчеркивание ссылки магазин*/
        border-bottom: 2px solid red;
        padding-bottom: 12px;
    }

    .radio {
        /*радиокнопки*/
        height: 140px;
        padding: 0 0 51px;
    }

    .checkbox {
        /*чекбоксы*/
        height: 219px;
        padding: 0 0 48px;
    }

    .catalog-product {
        /*правый контейнер товаров*/
        width: 760px;
    }

    .catalog-list {
        /*контейнер карточек*/
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .catalog-list li {
        height: 616px;
        margin-bottom: 33px;
    }

    .catalog-list li::before {
        content: "";
        background-image: url(../img/browser\ .svg );
        width: 360px;
        height: 40px;
        position: absolute;
        opacity: 0.12;
    }

    .catalog-list li:hover::before {
        opacity: 2;
    }

    .catalog-list li:hover .popab {
        display: block;
    }

    .sedona {
        /*картинка сверху*/
        background-image: url(../img/img-sedona.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .pink {
        background-image: url(../img/img-pink.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .barbershop {
        background-image: url(../img/img-barbershop.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .mishka {
        background-image: url(../img/img-mishka.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .aplus {
        background-image: url(../img/img-aplus.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .kvast {
        background-image: url(../img/img-kvast.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    /* flex Разметка */

    .main-navigation {
        /*навигация*/
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 1160px;
        align-items: center;
        justify-content: space-between;
        padding-top: 49px;
        flex-wrap: wrap;
    }

    .navigation-site {
        display: flex;
        width: 798px;
        justify-content: space-between;
        padding-left: 0px;
    }

    .navigation-site li:last-child {
        padding-left: 245px;
    }

    .services-list {
        /*раскладка сервисы*/
        display: flex;
        width: 1100px;
        height: 347px;
        justify-content: space-between;
    }

    .services-list li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .conteiner {
        /*контейнер с таблицой*/
        display: flex;
    }

    .opportunities {
        /*левый блок*/
        display: flex;
        height: 409px;
        flex-direction: column;
        justify-content: space-between;
    }

    .background {
        display: table;
    }

    .products {
        display: flex;
        height: 160px;
        flex-direction: column;
        justify-content: space-between;
    }

    .statistics {
        /*правый блок*/
        display: flex;
        flex-direction: column;
    }

    .partners {
        /*партнеры*/
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .adres {
        /*адресс*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 50px;
        box-sizing: border-box;
        padding: 54px 47px;
    }

    .footer-list {
        /*соц сети*/
        display: flex;
        width: 260px;
        justify-content: space-between;
    }

    .footer {
        /*контейнер*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .good {
        /*давайте дружить*/
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 15px;
    }

    .statistics {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }