    body, a {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: #000000;
    }

    header {
        /* цвет фона*/
        background-color: #eeeeee;
    }

    ul {
        /*для всех списков*/
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    a:active, a:focus {
        outline: none;
    }

    /*навигация <nav>*/

    .main-navigation {
        width: 1160px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 45px;
        display: flex;
        justify-content: space-between;
    }

    .site-navigation {
        width: 438px;
        display: flex;
        justify-content: space-between;
        padding: 25px 84px 0 0;
    }

    .user-navigation {
        padding-top: 25px;
    }

    .main-navigation a {
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;
    }

    .main-navigation a:hover, .main-navigation a:focus {
        color: #fb565a;
    }

    .main-navigation a:active {
        color: #000000;
        opacity: 0.3;
    }

    .main-navigation img:hover, .main-navigation:focus {
        opacity: 0.8;
    }

    .main-navigation img:active {
        opacity: 0.3;
    }

    .user-navigation a {
        position: relative;
    }

    .user-navigation a::before {
        content: "";
        position: absolute;
        width: 17px;
        height: 16px;
        background-image: url(../img/cart-icon.svg);
        background-repeat: no-repeat;
        top: 4px;
        left: -40px;
    }

    .button {
        /*общий стиль кнопок*/
        height: 50px;
        color: #ffffff;
        background-color: #fb565a;
        cursor: pointer;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button span {
        font-weight: 500;
        text-transform: uppercase;
    }

    /* Слайдер */

    .slider {
        margin-bottom: 80px;
        position: relative;
        background-color: #eeeeee;
    }

    .container-slider {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .slide-list h3 {
        max-width: 600px;
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        padding-bottom: 27px;
    }

    .slide-list p {
        max-width: 430px;
        color: #283136;
        line-height: 24px;
        padding-bottom: 41px;
    }

    .slide-list .button {
        width: 240px;
    }

    .slide-list .button:hover, .slide-list a[type="button"]:focus {
        background-color: #e74246;
    }

    .slide-list .button:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d7373b;
    }

    .slide-list .button:active span {
        opacity: 0.3;
    }

    .slide-one {
        background-image: url(../img/slide1.png);
        background-position: 451px 18px;
        background-repeat: no-repeat;
        padding: 75px 0 80px 20px;
        display: none;
    }

    .slide-two {
        background-image: url(../img/slide2.png);
        background-position: 516px 1px;
        background-repeat: no-repeat;
        padding: 75px 0 80px 20px;
        display: none;
    }

    .slide-three {
        background-image: url(../img/slide3.png);
        background-position: 421px 19px;
        background-repeat: no-repeat;
        padding: 75px 0 80px 20px;
        display: none;
    }

    .container-slider input {
        display: none;
    }

    .controls {
        height: 0;
    }

    .controls label {
        display: inline-block;
        width: 18px;
        height: 18px;
        position: relative;
        top: 317px;
        left: 555px;
        background-color: #ffffff;
        border-radius: 50%;
    }

    .controls label:not(:first-child) {
        margin-left: 14px;
    }

    #btn-1:checked~.slide-list .slide-one, #btn-2:checked~.slide-list .slide-two, #btn-3:checked~.slide-list .slide-three {
        display: block;
    }

    #btn-1:checked~.controls .control-1::before, #btn-2:checked~.controls .control-2::before, #btn-3:checked~.controls .control-3::before {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        width: 4px;
        height: 4px;
        border: 2px solid #c1c1c1;
        border-radius: 50%;
    }

    .services-list {
        /* Сервисы */
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding: 0px 80px 80px 20px;
        border-bottom: 2px solid #eeeeee;
    }

    .services-list h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
    }

    .services-list p {
        color: #283136;
        line-height: 24px;
        padding: 16px 0 32px;
    }

    .services-list .button {
        width: 160px;
    }

    .services-list li {
        width: 300px;
        height: 347px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .services-list li:first-child {
        background-image: url(../img/web-sites.png);
        background-position: top;
        background-repeat: no-repeat;
    }

    .services-list li:nth-child(2) {
        background-image: url(../img/applications.png);
        background-position: top;
        background-repeat: no-repeat;
    }

    .services-list li:last-child {
        background-image: url(../img/presentations.png);
        background-position: top;
        background-repeat: no-repeat;
    }

    .services-list a:active span {
        opacity: 0.3;
    }

    .services-list li:first-child a:hover, .services-list li:first-child a:focus {
        background-color: #e74246;
    }

    .services-list li:first-child a:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d7373b;
    }

    .services-list li:nth-child(2) a {
        background-color: #00ca74;
    }

    .services-list li:nth-child(2) a:hover, .services-list li:nth-child(2) a:focus {
        background-color: #00bc6c;
    }

    .services-list li:nth-child(2) a:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #00aa62;
    }

    .services-list li:last-child a {
        background-color: #efc84a;
    }

    .services-list li:last-child a:hover, .services-list li:last-child a:focus {
        background-color: #eab534;
    }

    .services-list li:last-child a:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #e5a722;
    }

    /*раздел статистики*/

    .progress {
        width: 1159px;
        height: 409px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .opportunities {
        width: 650px;
        padding-top: 40px;
    }

    .opportunities h2 {
        font-size: 45px;
        font-weight: 500;
        line-height: 45px;
    }

    .opportunities p {
        padding: 35px 0 42px;
        color: #283136;
        line-height: 24px;
    }

    .opportunities h3 {
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 25px;
    }

    .opportunities ul {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 114px;
    }

    .opportunities ul li {
        position: relative;
        padding-left: 35px;
    }

    .opportunities ul li::before {
        content: "";
        width: 25px;
        height: 2px;
        background-color: red;
        position: absolute;
        top: 8px;
        left: 1px;
    }

    .statistics {
        width: 360px;
        padding-top: 243px;
        background-image: url(../img/nerds-illustration.png);
        background-repeat: no-repeat;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
    }

    .statistics p {
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 49px;
    }

    .interest td {
        font-size: 45px;
        font-weight: 700;
        line-height: 10.06px;
        padding-top: 10px;
    }

    .interest td sup {
        font-size: 30px;
        position: relative;
        top: -15px;
    }

    .interest td:nth-child(2) {
        padding: 0 20px 0 8px;
    }

    .indicators td {
        padding-top: 25px;
    }

    .indicators td:nth-child(2) {
        padding-left: 10px;
    }

    /* Партнеры */

    .partners ul {
        width: 1160px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #eeeeee;
        border-bottom: 2px solid #eeeeee;
        margin-top: 84px;
        margin-bottom: 80px;
        padding-top: 46px;
        padding-bottom: 44px;
        position: relative;
    }

    .partners li:first-child {
        padding: 10px 0 0 31px;
    }

    .partners li:last-child {
        padding: 6px 43px 0 23px;
    }

    .partners li:nth-child(2) {
        padding-right: 9px;
    }

    .partners li:not(:last-child)::after {
        content: "";
        width: 2px;
        height: 52px;
        background-color: #eeeeee;
        position: absolute;
        top: 65px;
        left: 879px;
    }

    .partners li:first-child::after {
        left: 279px;
    }

    .partners li:nth-child(2)::after {
        left: 579px;
    }

    .partners img {
        opacity: 0.2;
    }

    .partners img:hover {
        opacity: 1;
    }

    .partners img:active {
        opacity: 0.1;
    }

    .city {
        padding: 22px 0 20px;
    }

    .address {
        /* адресс карта*/
        width: 319px;
        height: 308px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        box-sizing: border-box;
        position: absolute;
        top: 54px;
        left: 140px;
    }

    .address h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
    }

    .address p {
        color: #666666;
        width: 202px;
    }

    .phone {
        color: #666666;
    }

    .address a:last-child {
        width: 219px;
        height: 50px;
        background-color: #fb565a;
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 2px;
        text-align: center;
        padding-top: 17px;
        box-sizing: border-box;
        margin-top: 37px;
    }

    .visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        6 overflow: hidden;
    }

    .map {
        /*карта*/
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: 1440px;
        height: 416px;
        background-image: url(../img/map.png);
        background-repeat: no-repeat;
        position: relative;
    }

    footer {
        /* размеры футер*/
        height: 79px;
        max-width: 944px;
        margin-left: 372px;
        margin-right: auto;
        margin-top: 69px;
        margin-bottom: 69px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sector {
        display: flex;
        flex-direction: column;
        padding-right: 5px;
    }

    .sector p {
        color: #444444;
        line-height: 31px;
    }

    .sector h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        padding-bottom: 5px;
    }

    .social-list {
        /*соц сети*/
        display: flex;
        justify-content: space-between;
    }

    .social-list li {
        /*соц сети*/
        width: 79px;
        height: 79px;
        background-color: #e1e1e1;
        border-radius: 50%;
    }

    .social-list li:not(:last-child) {
        margin-right: 12px;
    }

    .social-list li:hover {
        background-color: #e74246;
    }

    .social-list li:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d7373b;
    }

    .social-vk {
        /*картинка*/
        background-image: url(../img/vk-icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 80px;
        padding-bottom: 61px;
    }

    .social-fb {
        /*картинка*/
        background-image: url(../img/fb-icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 80px;
        padding-bottom: 61px;
    }

    .social-insta {
        /*картинка*/
        background-image: url(../img/insta-icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 80px;
        padding-bottom: 61px;
    }

    .social-list a:active {
        opacity: 0.3;
    }

    fieldset {
        border: none;
    }

    /*2-я страница*/

    .navigation-list {
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: #eeeeee;
        padding: 75px 0 111px;
    }

    .link-store {
        border-bottom: 2px solid red;
        padding-bottom: 9px;
    }

    .sorting h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
    }

    .filter-catalog {
        width: 261px;
    }

    .filter-catalog legend {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
    }

    .price-selection legend {
        letter-spacing: 0.05px;
        padding-bottom: 48px;
    }

    .filter-catalog label {
        color: #283136;
        line-height: 20px;
    }

    .range-controls {
        width: 261px;
        height: 80px;
        background-color: #eeeeee;
        border-radius: 2px;
        padding-top: 39px;
        box-sizing: border-box;
        padding-left: 20px;
        position: relative;
    }

    .main-scale {
        width: 219px;
        height: 2px;
        background-color: #d7dcde;
    }

    .selection-scale {
        width: 152px;
        height: 2px;
        background-color: #01ca74;
    }

    .tupbler {
        width: 4px;
        height: 4px;
        background-color: #ababab;
        border: 8px solid #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        box-shadow: 0 2px 1px 0 #cfcfcf;
        cursor: pointer;
    }

    .tupbler-min {
        left: 18px;
    }

    .tupbler-max {
        left: 160px;
    }

    .price-controls {
        margin-top: 14px;
        display: flex;
        white-space: nowrap;
        max-width: 259px;
    }

    .price-controls label {
        color: #283136;
        line-height: 22px;
        margin-right: 29px;
        display: inline-block;
    }

    .price-controls input {
        width: 80px;
        height: 38px;
        text-align: center;
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        margin-left: 12px;
    }

    .radio {
        margin-top: 50px;
    }

    .grid {
        padding-left: 36px;
        padding-top: 16px;
    }

    .grid li:not(:last-child) {
        padding-bottom: 20px;
    }

    .grid label {
        position: relative;
    }

    .grid input+label::before {
        content: "";
        width: 25px;
        height: 25px;
        background-image: url(../img/radio-off.svg);
        background-repeat: no-repeat;
        background-position: left;
        position: absolute;
        left: -35px;
        top: -1px;
        opacity: 0.4;
        z-index: 1;
    }

    .grid input:checked+label::after {
        content: "";
        width: 25px;
        height: 25px;
        background-image: url(../img/radio-on.svg);
        background-repeat: no-repeat;
        background-position: left;
        position: absolute;
        left: -35px;
        top: -1px;
        z-index: 2;
        opacity: 0.1;
    }

    .grid input:checked+label::before {
        opacity: 0.1;
    }

    .grid input+label:hover::before, .grid input+label:hover::after {
        opacity: 1;
    }

    .grid input:checked+label {
        color: #d0d2d3;
    }

    .checkbox {
        margin-top: 46px;
    }

    .features {
        padding-left: 36px;
        padding-top: 15px;
        margin-bottom: 50px;
    }

    .features li:not(:last-child) {
        padding-bottom: 20px;
    }

    .features label {
        position: relative;
    }

    .features input+label::before {
        content: "";
        width: 23px;
        height: 23px;
        background-image: url(../img/checkbox-off.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: -35px;
        z-index: 2;
        opacity: 0.4;
    }

    .features input:checked+label::after {
        content: "";
        width: 27px;
        height: 23px;
        background-image: url(../img/checkbox-on.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: -35px;
        z-index: 1;
        opacity: 0.1;
    }

    .features input:checked+label::before {
        opacity: 0.1;
    }

    .features input+label:hover::before, .features input+label:hover::after {
        opacity: 1;
    }

    .features input:checked+label {
        color: #d0d2d3;
    }

    .filter-catalog button {
        color: #000000;
        font-family: Roboto;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
    }

    .filter-catalog button span {
        font-size: 16px;
        font-weight: 500;
    }

    .filter-catalog button {
        background-color: #eeeeee;
        border: none;
        width: 260px;
        height: 50px;
        padding: 0px;
        outline: none;
    }

    .filter-catalog button:hover {
        background-color: #dfdfdf;
    }

    .filter-catalog button:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d5d5d5;
    }

    .filter-catalog button:active span {
        opacity: 0.3;
    }

    .popab {
        background-color: #eeeeee;
        max-width: 360px;
        height: 231px;
        position: relative;
        top: 386px;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .popab a {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        padding: 27px 0 14px;
    }

    .popab p {
        color: #666666;
        padding-bottom: 31px;
        text-align: center;
    }

    /* кнопки папабав */

    button[type="button"] {
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #fb565a;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 2px;
        position: relative;
    }

    button[type="button"]:hover {
        background-color: #e74246;
    }

    button[type="button"]:active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d7373b;
    }

    .popab a:hover, .popab a:focus {
        color: #fb565a;
    }

    .popab a:active {
        opacity: 0.3;
        color: #000000;
    }

    /* кнопки страниц */

    .pagination {
        width: 443px;
        display: flex;
        justify-content: space-between;
        padding-top: 28px;
    }

    .pagination a {
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        text-decoration: none;
        color: #000000;
    }

    .pagination li {
        background-color: #eeeeee;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pagination li:first-child {
        border: 3px solid #dbdbdb;
        background-color: white;
        box-sizing: border-box;
    }

    .pagination li:last-child {
        width: 260px;
        text-transform: uppercase;
    }

    .pagination li:not(:first-child):hover {
        background-color: #dfdfdf;
    }

    .pagination li:not(:first-child):active {
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        background-color: #d5d5d5;
    }

    .pagination li:not(:first-child):active a {
        opacity: 0.3;
    }

    /* форма отправки письма   */

    .modal-window:target {
        display: flex;
    }

    .modal-window {
        width: 960px;
        position: absolute;
        top: -130px;
        left: 240px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
        display: none;
    }

    .letter {
        display: flex;
        flex-direction: column;
        margin: 65px 0 60px;
        width: 771px;
    }

    .letter h3 {
        font-size: 45px;
        font-weight: 500;
        line-height: 45px;
        padding-left: 3px;
    }

    .letter label {
        font-weight: 700;
    }

    [placeholder] {
        color: #afafaf;
        padding-left: 13px;
    }

    .letter input {
        width: 360px;
        height: 50px;
        border: 2px solid #d7dcde;
        background-color: #ffffff;
        margin-top: 10px;
        box-sizing: border-box;
    }

    .fields {
        display: flex;
        margin-top: 43px;
        max-width: 760px;
        margin-left: 5px;
        justify-content: space-between;
    }

    .fields div {
        display: block;
        width: 360px;
    }

    .textarea {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }

    .textarea textarea {
        width: 741px;
        height: 101px;
        border: 2px solid #d7dcde;
        background-color: #ffffff;
        margin-top: 9px;
        padding-top: 11px;
    }

    .textarea [placeholder] {
        font-family: Roboto;
        line-height: 18px;
    }

    .letter input[type="submit"] {
        width: 260px;
        height: 50px;
        background-color: #fb565a;
        color: #ffffff;
        font-weight: 500;
        border: none;
        border-radius: 2px;
        margin: 46px 0 24px;
        margin-left: 5px;
    }

    .modal-window a {
        position: relative;
    }

    .modal-window a::after {
        content: "";
        background-image: url(../img/close-cross.svg);
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
        opacity: 0.3;
        position: absolute;
        right: -4px;
        top: -31px;
    }

    .modal-window a:hover::after {
        opacity: 1;
    }

    .modal-window a:active::after {
        opacity: 0.1;
    }

    .fields input:hover, textarea:hover {
        border: 2px solid #b4b9bb;
    }

    .fields input:focus, textarea:focus {
        border: 2px solid #000000;
    }

    .fields input:focus[placeholder], .textarea textarea:focus[placeholder] {
        color: #444444;
    }

    .letter input:invalid {
        color: #e74246;
        border: 2px solid #e74246;
    }

    .sorting {
        /*блок с треугольниками*/
        width: 759px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 57px;
    }

    .sorting ul {
        /*список режимов*/
        display: flex;
        width: 271px;
        height: 13px;
        justify-content: space-between;
        padding-left: 217px;
        padding-top: 3px;
    }

    .sorting ul li:not(:first-child) {
        font-size: 14px;
        text-transform: uppercase;
        opacity: 0.3;
    }

    .sorting ul li:hover {
        opacity: 0.6;
    }

    .sorting ul li:active {
        opacity: 3;
    }

    .sorting p {
        display: flex;
    }

    .up {
        /*стрелочка*/
        padding: 0px;
        border-style: solid;
        border-width: 10px;
        border-left-width: 5.5px;
        border-right-width: 5.5px;
        border-top-color: black;
        border-left-color: white;
        border-right-color: white;
        border-bottom-width: 0px;
        margin-right: 18px;
        outline: none;
    }

    .down {
        /*стрелочка*/
        padding: 0px;
        border-style: solid;
        border-width: 10px;
        border-left-width: 5.5px;
        border-right-width: 5.5px;
        border-bottom-color: #a6a6a6;
        border-left-color: white;
        border-right-color: white;
        border-top-width: 0px;
        opacity: 0.2;
        outline: none;
    }

    .up:hover, .down:hover {
        opacity: 0.6;
    }

    .up:active {
        border-top-color: black;
    }

    .down:active {
        border-bottom-color: black;
    }

    .score {
        /* основной контейнер магазина*/
        width: 1161px;
        margin-top: 55px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }

    .catalog-product {
        /*правый контейнер товаров*/
        width: 760px;
    }

    .catalog-list {
        /*контейнер карточек*/
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .catalog-list li {
        height: 616px;
        margin-bottom: 33px;
    }

    .catalog-list li::before {
        content: "";
        background-image: url(../img/browser\ .svg );
        width: 360px;
        height: 40px;
        position: absolute;
        opacity: 0.12;
    }

    .catalog-list li:hover::before {
        opacity: 2;
    }

    .catalog-list li:hover .popab {
        display: flex;
    }

    .sedona {
        /*картинка сверху*/
        background-image: url(../img/img-sedona.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .pink {
        background-image: url(../img/img-pink.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .barbershop {
        background-image: url(../img/img-barbershop.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .mishka {
        background-image: url(../img/img-mishka.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .aplus {
        background-image: url(../img/img-aplus.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }

    .kvast {
        background-image: url(../img/img-kvast.jpg.jpg);
        background-repeat: no-repeat;
        width: 360px;
        background-position: bottom;
    }